.wrapper_eleborated{
    width: 100vw;
    display: flex;
    flex-direction: row;
    padding: 2rem;
}
.img_eleborated{
    width: 30%;
}
.content_elebrated{
    width: 70%;
}
.content_eleborated2{
    padding: 4rem;
    width: 100vw;
}