.button{
    position: absolute;
    top: 0;
    left: 94%;
}
@media only screen and (max-width: 800px) {
    .button{
        left: 80%;
    }
  }
.div_main{
    width: 75vw;
    margin: 3vh auto;
    background-color: var(--color--orange);
    height: 30vh;
    font-size: 2vw;
    border-radius: 1vw;
    text-align: center;
}