.nav{
    background: #e2ad71;
    margin-bottom: 1rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
}
.nav:after{
    content:'';
    clear:both;
    display:table;
}
.nav:after {
    content: '';
    clear: both;
    display: table;
}

.nav_ul{
    float: right;
    list-style: none;
    margin-right: 70px;
    position: relative;
}
.nav_ul_li{
    /* float: left; */
    display: inline-block;
    background: #e2ad71;
    margin: 0 5px;
}
.nav_ul_li_a{
    color: black;
    text-decoration: none;
    line-height: 70px;
    font-size: 18px;
    padding: 8px 15px;
} 

.nav_ul_ul{
    position: absolute;
    background-color: #ebbf8e;
    top: 90px;
    opacity: 0;
    visibility: hidden;
    transition: top .3s;
    z-index: 1;
    list-style-type: none;
}
.nav_ul_ul_li{
    position: relative;
    margin: 0px;
    width: 250px;
    float: none;
    display: list-item;
    border-bottom: 1px solid rgba(253, 246, 246, 0.3);
}
.nav_ul_ul_ul_li{
    position:realtive;
    top: -70px;
    left: 150px;
}

.logo {
    float: left;
    font-size: 35px;
    font-weight: 600;
    line-height: 70px;
    padding-left: 30px;
}

.nav_ul_li_a:hover{
    box-shadow:0 0 5px #f2f2f2,
               0 0 5px #f2f2f2;
    border-radius: 5px;
    color:blueviolet;
}
 
.nav_ul_li:hover > ul,
.ul_li:focus-within > ul,
.ul_li_ul:hover{
    visibility: visible;
    opacity: 1;
    display: block;
    top: 70px;
}
.nav_ul_ul_li_a{
    line-height: 50px;
    text-decoration: none;
    color: black;
}
.nav_ul_ul_li_a:hover{
    color: blueviolet;
    box-shadow: none;
} 