@import url('https://fonts.googleapis.com/css2?family=Amiri:ital@1&family=IBM+Plex+Sans+Thai:wght@300&family=Nunito:wght@300&family=Rajdhani&family=Spartan:wght@200;300&display=swap'); 

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
  
body{
background-color: var(--background--nightmode);
color: var(--text--primary);
overflow-x: hidden;
font-family: 'Nunito', sans-serif;
}

:root{
--background--color: #fef1e6;
--color--orange: #f9d5a7;
--color--darkorange: #ffb085;
--color--blue: #90aacb;
}

::-webkit-scrollbar-track{
	border: 1px solid #C7B569;
	background-color: #F5F5F5;
}

::-webkit-scrollbar{
	width: 0.5vw;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb{
	background-color: #C7B569;	
}