.button {
    position: absolute;
    top: 0;
    left: 94%;
}

@media only screen and (max-width: 800px) {
    .button {
        left: 80%;
        border-radius: 2px;
    }
}

.div_main {
    width: 80vw;
    margin: 3rem auto;
    /* background-color: var(--color--blue); */
    font-size: 2vw;
    border-radius: 1vw;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.img_main{
    width: 50vw;
    height: 40vh;
}
.lorem{
    padding: 1.5rem 10rem;
    text-align: center;
    font-size: 1.25rem;
}
.div_containt {
    font-size: larger;
    font-weight: bold;
}

.btn {
    display: inline-flex;
    flex-wrap: wrap;
}

.btn1 {
    margin: 45px;
    position: relative;
    left: 19rem;
    background-color: white;
    color: black;
    border: 2px solid #e2ad71; /* Green */
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    transition-duration: 0.4s;  
    /* HERE WE ADD THE SPACE */
}
.btn1:hover {
    background-color: #e2ad71; /* Green */
    color: white;
  }

.card1 {
    width: 75vw;
    margin: 3vh auto;
    background-color: var(--color--orange);
    height: 30vh;
    font-size: 2vw;
    border-radius: 1vw;
    text-align: center;
}
.front_card_main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2rem 5rem;
    width: 100vw;
}
.front_card{
    background-color: #e2ad71;
    width: 25%;
    font-size: 1.1rem;
    /* height: 40vh; */
    border-radius: 1rem;
    padding: 0.5rem;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
